<div class="container" id="box">
  <app-user-navigation></app-user-navigation>
  <table class="table">
    <thead class="thead-light">
    <a href="#" routerLink="/create-property" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new property</a>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">contactEmail</th>
      <th scope="col">phoneNumber</th>
      <th scope="col">Property Type</th>
      <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let property of propertyList">
      <th scope="row">{{property.id}}</th>
      <td>{{property.name}}</td>
      <td>{{property.contactEmail}}</td>
      <td>{{property.phoneNumber}}</td>
      <td>{{property.propertyType.name}}</td>
      <td class="text-center">
        <a class='btn btn-info btn-xs' routerLink="/edit-property/{{property.id}}">
        <span class="glyphicon glyphicon-edit"></span>Edit</a>
        <a class='btn btn-info btn-xs' routerLink="/edit-property/{{property.id}}">
          <span class="glyphicon glyphicon-edit"></span>Apartments</a>
    </tr>
    </tbody>
  </table>
</div>
