<div class="container" id="box">
  <table class="table">
    <thead class="thead-light">
    <a href="#" routerLink="/create-property" class="btn btn-primary btn-xs pull-right new-appartment"><b>+</b> Add new property</a>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">ContactEmail</th>
      <th scope="col">PhoneNumber</th>
      <th scope="col">Property Type</th>
      <th class="text-center">Edit</th>
      <th class="text-center">Apartments</th>
      <th class="text-center">Guest Arrivals</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let property of propertyList">
      <td>{{property.name}}</td>
      <td>{{property.contactEmail}}</td>
      <td>{{property.phoneNumber}}</td>
      <td>{{property.propertyType.name}}</td>
      <td class="text-center">
        <a class='btn btn-info btn-xs action' routerLink="/edit-property/{{property.id}}">
        <span class="glyphicon glyphicon-edit"></span>Edit</a>
      </td>
      <td>
        <a class='btn btn-info btn-xs action' routerLink="/myproperty/{{property.id}}/apartments">
          <span class="glyphicon glyphicon-edit"></span>Apartments</a>
      </td>
      <td>
        <a class='btn btn-info btn-xs action' routerLink="/myproperties/{{property.id}}/guest-arrivals/futureBookings">
          <span class="glyphicon glyphicon-edit"></span>Guest Arrivals</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<app-spinner *ngIf="isLoading"></app-spinner>
