<div id="menucard">
  <div class="box">
    <h1 class="display-4">BookingLite</h1>
    <div class="card">
      <article class="card-body">
        <h4 class="card-title mb-4 mt-1">Create Property</h4>
        <!--<form #registerForm=ngForm">-->
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label>Property Name</label>
              <input name="name" #name="ngModel" required [(ngModel)]="propertyCreate.name" class="form-control"
                     placeholder="Property Name" type="text">
              <div class="invalid-feedback">Property Name is required!</div>
            </div>

            <div class="form-group">
              <label>Email</label>
              <input class="form-control" required name="email" [(ngModel)]="propertyCreate.contactEmail"
                     placeholder="Email" type="email">
              <div class="invalid-feedback">Valid email is required!</div>
            </div>

            <div class="form-group">
              <label>Phone Number</label>
              <input name="phone number" required class="form-control" [(ngModel)]="propertyCreate.phoneNumber"
                     placeholder="phone number" type="text">
              <div class="invalid-feedback">Phone Number is required!</div>
            </div>

            <div class="form-group">
              <label>Property Type</label>
              <select class="form-control"
                      [(ngModel)]='propertyCreate.propertyTypeId'>
                <option *ngFor="let propertyType of propertyTypes"
                        [(value)]="propertyType.id">
                  {{propertyType.name}}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>Facilities</label>
              <div class="custom-control custom-checkbox"
                   *ngFor="let facility of facilities">
                <input type="checkbox" class="custom-control-input" id="customCheck{{facility.id}}"
                       (change)="workWithCheckboxes(facility.id)">
                <label class="custom-control-label"
                       for="customCheck{{facility.id}}">{{facility.name}}</label>
              </div>
            </div>

          </div>

          <div class="col-6">
            <div class="form-group">
              <label>Address Line</label>
              <input class="form-control" required name="addressline" [(ngModel)]="propertyCreate.addressLine"
                     placeholder="Address Line" type="text">
              <div class="invalid-feedback">Address line is required!</div>
            </div>
            <div class="form-group">
              <label>Country</label>
              <select class="form-control"
                      [(ngModel)]="selectedCountryId"
                      (ngModelChange)='getCities(selectedCountryId)'
                      [(ngModel)]="propertyCreate.countryId">
                <option *ngFor="let country of countries"
                        [value]="country.id">
                  {{country.name}}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>City</label>

              <select class="form-control"
                      [(ngModel)]='selectedCityId'
                      [(ngModel)]='propertyCreate.cityId'>
                <option *ngFor="let city of cities"
                        [(value)]="city.id">
                  {{city.name}}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>Zip</label>
              <input class="form-control" required maxlength="5" minlength="5" name="zip"
                     [(ngModel)]="propertyCreate.zip" placeholder="12345" type="text">
              <div class="invalid-feedback">Valid zip is required!</div>
            </div>

            <div class="col-16">
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Description" rows="4"
                          [(ngModel)]="propertyCreate.description"
                          required></textarea>
              </div>
            </div>
          </div>
        </div>
        <!--
                            <ng-container *ngIf="errorMessage !== ''">
                                    <div class="alert alert-danger">
                                            {{errorMessage}}
                                    </div>
                            </ng-container>
        -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" (click)=createProperty()>Create</button>
        </div>

        <!--</form>-->
      </article>
    </div>
  </div>
</div>
