<!--<div class="container">-->

<!--<div class="form-group">-->
<!--<label class="col-form-label">Property Name</label>-->
<!--<input type="text" class="form-control" placeholder="Property Name" >-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label class="col-form-label">Descpription</label>-->
<!--<input type="text" class="form-control" placeholder="Descpription" >-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label class="col-form-label">Phone number</label>-->
<!--<input type="text" class="form-control" placeholder="Phone number" >-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label class="col-form-label">Email</label>-->
<!--<input type="email" class="form-control" placeholder="Email" >-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label class="col-form-label">Descpription</label>-->
<!--<input type="text" class="form-control" placeholder="Descpription" >-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label class="col-form-label">Country</label>-->
<!--<select class="custom-select">-->
<!--<option *ngFor="let country of countries" (change)="getCities(country.id)">{{country.name}}</option>-->

<!--</select>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label class="col-form-label">City</label>-->
<!--<select class="custom-select">-->
<!--<option *ngFor="let city of cities" (click)="selectedCityId = city.id">{{city.name}}</option>-->
<!--</select>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label class="col-form-label">Property Type</label>-->
<!--<select class="custom-select">-->
<!--<option *ngFor="let propertyType of propertyTypes" (click)="selectedPropertyTypeId = propertyType.id">{{propertyType.name}}</option>-->
<!--</select>-->
<!--</div>-->

<!--</div>-->
<div class="form-group">
  <label class="col-form-label">Property Name</label>
  <input type="text" class="form-control" placeholder="Property Name" [(ngModel)]="propertyCreate.name">
</div>

<div class="form-group">
  <label class="col-form-label">Descpription</label>
  <input type="text" class="form-control" placeholder="Descpription" [(ngModel)]="propertyCreate.description">
</div>

<div class="form-group">
  <label class="col-form-label">Phone number</label>
  <input type="text" class="form-control" placeholder="Phone number" [(ngModel)]="propertyCreate.phoneNumber">
</div>

<div class="form-group">
  <label class="col-form-label">Email</label>
  <input type="email" class="form-control" placeholder="Email" [(ngModel)]="propertyCreate.contactEmail">
</div>


<div class="form-group">
  <label class="col-form-label">Country</label>
  <select class="custom-select"
          [(ngModel)]="propertyCreate.countryId"
          [(ngModel)]="selectedCountryId" (ngModelChange) = 'onSelectedCountryId($event)' >
    <option *ngFor="let country of countries" [value]="country">{{country.name}}</option>
  </select>
</div>
<br>

{{selectedCountryId}}


<div class="form-group">
  <label class="col-form-label">City</label>
  <select class="custom-select"
          [(ngModel)]="propertyCreate.cityId">
    <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
  </select>
</div>


<div class="form-group">
  <label class="col-form-label">addressline</label>
  <input type="email" class="form-control" placeholder="Email" [(ngModel)]="propertyCreate.addressLine">
</div>

<div class="form-group">
  <label class="col-form-label">zip</label>
  <input type="email" class="form-control" placeholder="Email" [(ngModel)]="propertyCreate.zip">
</div>


<div class="form-group">
  <label class="col-form-label">PropertyType</label>
  <input type="email" class="form-control" placeholder="Email" [(ngModel)]="propertyCreate.propertyTypeId">
</div>

<div class="form-group">
  <label class="col-form-label">facilityId</label>
  <input type="email" class="form-control" placeholder="Email" [(ngModel)]="propertyCreate.facilityId">

</div>


<button (click)="createProperty()">Added Property</button>
