<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="#" routerLink="/search">
    <img src="assets/image/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Bookinglite
  </a>
  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" *ngIf="auth.isAuthenticated" routerLink="/bookings">Bookings</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarRightSide" >
    <ul class="navbar-nav ">
      <a class="navbar-brand" routerLink="/user" *ngIf="auth.isAuthenticated">
        <img src="assets/image/profile.png" width="30" height="30" class="d-inline-block align-top" alt="">
      </a>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/login" *ngIf="auth.isAuthenticated">Logout</a>
        <a class="nav-link" routerLink="/login" *ngIf="!auth.isAuthenticated">Login</a>
      </li>
    </ul>
  </div>
</nav>
