<ul style="list-style: none">
  <li *ngFor="let property of propertyList ">

    <div class="container">
      <div class="row mb-4">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body"
                 style="display: block; height: 250px; border: 3px inset #2c1e11">
              <div class="row" style="display: flex">

                <div class="col-md-3">
                  <img *ngIf="property.photos.length > 0" class="img-responsive" src={{property.photos[0].url}}
                       alt="{{property.name}}">
                  <img *ngIf="property.photos.length === 0" class="img-responsive" src="assets/image/Capture.PNG"
                       alt="{{property.name}}">
                </div>

                <div class="col-md-6  card-body" style="padding-left: 54px">

                  <div class="list-location" style="font-family: Arial;font-size: 30px">
                    <a style="list-style: none; color: #814527" routerLink="/property-detailes/{{property.id}}">
                      {{property.name}}
                    </a>
                  </div>

                  <img src="assets/image/pin.png" style="width: 30px">
                  <span *ngIf="property" style="font-size: 17px; font-style:italic">Location : {{property.address.addressLine}},
                    zip : {{property.address.zip}}, {{property.address.city.name}},
                      {{property.address.city.country.name}}</span>

                  <div class="list-descrip" style="margin-top: 15px">
                    <img src="assets/image/mail.png" style="width: 30px">
                    <span *ngIf="property" style="font-size: 17px; font-style:italic">Email : {{property.contactEmail}}</span>
                      <br>
                    <img src="assets/image/phone.png" style="width: 30px">
                    <span *ngIf="property" style="font-size: 17px; font-style:italic">Phone Number : {{property.phoneNumber}}</span>
                    <br>
                    <img src="assets/image/type.png" style="width: 30px">
                    <span *ngIf="property" style="font-size: 17px; font-style:italic">Type : {{property.propertyType.name}}</span>
                  </div>
                </div>

                <div class="col-md-3 border-left card-body">

                  <ul class="list-unstyled">
                    <li><h3>Rating {{property.rating}}</h3></li>
                  </ul>

                  <a routerLink="/property-detailes/{{property.id}}" [queryParams]="queryParams" class="btn btn-outline-primary">
                    Property Details
                  </a>

                  <br><br>

                  <button type="button"
              routerLink="/property/{{property.id}}/apartments" [queryParams]="queryParams"
                          class="btn btn-outline-primary">
                    Select apartment
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
<router-outlet></router-outlet>
