<ul style="list-style: none">
  <li *ngFor="let property of propertyList ">
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="card" style="max-height: 200px">
          <div class="card-body">
            <div class="row">

              <div class="col-md-3">
                <img *ngIf="property.photos.length > 0" class="img-responsive" src={{property.photos[0].url}}
                     alt="{{property.name}}">
                <img *ngIf="property.photos.length === 0" class="img-responsive" src="assets/image/Capture.PNG"
                     alt="{{property.name}}">
              </div>


              <div class="col-md-6  card-body" style="margin-left: 10%; width: 300px">
                <div class="list-title">
                  <ul class="list-inline list-unstyled">
                    <li class="list-inline-item"><a *ngIf="property" routerLink="/property-detailes/{{property.id}}">
                      <h4>
                        <b>{{property.name}}</b></h4></a></li>
                    <li class="list-inline-item text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                      class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></li>
                    <li class="list-inline-item text-success"><i class="fa fa-thumbs-up"></i></li>
                  </ul>
                </div>

                <div class="list-location">
                 <i class="fa fa-map-marker"></i>
                    <small style="font-size: 14px" *ngIf="property">Location : {{property.address.addressLine}}, zip : {{property.address.zip}},
                      {{property.address.city.name}},{{property.address.city.country.name}}
                    </small>
                </div>

                <div class="list-descrip">
                  <small style="font-size: 15px" *ngIf="property">Email: {{property.contactEmail}}</small>
                  <br>
                  <small style="font-size: 15px ;" *ngIf="property">Phone Number: {{property.phoneNumber}}</small>
                  <br>
                  <small style="font-size: 15px" *ngIf="property">Type: {{property.propertyType.name}}</small>
                  <br>
                </div>
              </div>

              <div class="col-md-3 border-left card-body">
                <button type="button" class="btn btn-outline-primary" routerLink="/property-detailes/{{property.id}}">
                  Property Detail
                </button>
                <br> <br> <br>
                <button type="button" class="btn btn-outline-primary" routerLink="/property/{{property.id}}/apartments"
                        [queryParams]="queryParams">Select Apartments
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
