*{
  box-sizing: border-box;
}

  /*.container {*/
    /*position: fixed;*/
  /*}*/


.img-responsive {
  margin-left: -14px;
  margin-top: 5px;
  width: 280px;
  height: 205px;
  position: absolute ;
  border-radius: 15px;
}
