<app-user-navigation></app-user-navigation>

<div class="edit-box">
  <div class="box">
    <h1 class="display-8">BookingLite</h1>
    <div class="card">
      <article class="card-body">
        <h4 class="card-title mb-4 mt-1">Edit Property</h4>

        <form #createPropertyForm=ngForm (ngSubmit)=updateProperty(createPropertyForm)
        [ngClass]="{'was-validated' : !formValid}">

        <div class="row">
          <div class="col-6">

            <div class="form-group" *ngIf="property">
              <label>Property Name</label>
              <input class="form-control" placeholder="Name" type="text" required name="name"
                     [(ngModel)]="property.name">
              <div class="invalid-feedback">Valid name is required!</div>
            </div>

            <div class="form-group" *ngIf="property">
              <label>Email</label>
              <input class="form-control" placeholder="Email" type="email"  required name="email"
                     [(ngModel)]="property.contactEmail">
              <div class="invalid-feedback">Valid email is required!</div>
            </div>

            <div class="form-group" *ngIf="property">
              <label>Phone Number</label>
              <input name="phone number" required class="form-control"
                     placeholder="phone number" type="text"
                     [(ngModel)]="property.phoneNumber">
              <div class="invalid-feedback">Phone Number is required!</div>
            </div>

            <div class="form-group" *ngIf="facilities">
              <label>Facilities</label>
              <div class="custom-control custom-checkbox"
                   *ngFor="let facility of facilities">
                <input type="checkbox" class="custom-control-input" id="customCheck{{facility.id}}"
                       (change)=workWithCheckboxes(facility.id)>
                <label class="custom-control-label"
                       for="customCheck{{facility.id}}">{{facility.name}}</label>
              </div>
            </div>
          </div>

          <div class="col-6" *ngIf="property">
            <div class="form-group">
              <label>Description</label>
              <input name="description" class="form-control"
                     placeholder="description" type="text"
                     [(ngModel)]="property.description">
            </div>

            <div class="form-group" *ngIf="propertyTypes">
              <label>Property Type</label>
              <select class="form-control" #selectPropertyType
                      (change)="changePropertyTypes(selectPropertyType.value)">
                <option *ngFor="let propertyType of propertyTypes" value="{{propertyType.id}}">
                  {{propertyType.name}}
                </option>
              </select>
            </div>

          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Add Change
          </button>
        </div>
        </form>
      </article>
    </div>
  </div>
</div>

<div class="box-photo">
  <app-upload-photo-list></app-upload-photo-list>
</div>
