<div class="container">
  <table>
    <tr>
      <th>Name</th>
      <th>Apartment Type</th>
      <th>Amenities</th>
      <th>Price</th>
      <th>Reserve</th>
    </tr>
    <tr *ngFor="let apartment of aprtmentsList" >
      <td>{{apartment.name}}</td>
      <td>{{apartment.apartmentType.name}}</td>
      <td><p *ngFor="let am of apartment.amenities">{{am.name}}</p></td>
      <td>{{apartment.price}}</td>
      <td><a href="#" class="btn btn-primary">select</a></td>
    </tr>
  </table>
</div>
