<p>
  booking works!
</p>
<!--<button (click)="getBookings()">get Bookings</button>-->
<!--<ul>-->
  <!--<li *ngFor="let booking of bookings">-->
    <!--<h4>Booking # {{booking.bookingId}}</h4>-->
<!--</ul>-->
<!--<div *ngIf="authenticated">-->
  <!--<h1>Hello in system!!!</h1>-->
<!--</div>-->
<!-- <ul> -->
<!-- <li *ngFor = "let booking of bookings  routerLink="booking/{{booking.bookingId}}">
  <h4>Booking # {{booking.bookingId}}</h4>
{{booking.bookingId}} - {{booking.apartment}}- {{booking.user}} - {{booking.checkIn}} -
{{booking.checOut}} - {{booking.totalPrice}} - {{booking.bookingStatus}} - {{booking.review}}
</li>
</ul> -->
