<div class="container" *ngIf="booking" style="margin-top: 2%">
  <div class="row">

    <div class="col-md-8">
      <h2 style="width: 90%; margin-left: 25%;margin-top: -2%"><a href="#" style="text-decoration: none;"
                                                                 *ngIf="booking"
                                                                 routerLink="/property/{{booking.apartmentDto.propertyDto.id}}">
        <b>{{booking.apartmentDto.propertyDto.name}}</b></a>
      </h2>

      <div class="featured-article">
        <img class="thumb" alt="No Photo" *ngIf="booking.apartmentDto.propertyDto.photos.length > 0"
             src={{booking.apartmentDto.propertyDto.photos[0].url}}>
      </div>

      <div class="col-md-12" style="margin-top: -11%">
          <ul class="menu-items" style="list-style: none; margin-left: -8%">
            <li style="font-size: 20px; color: #bb5500">Information about booking</li>
            <li style="font-family: 'Bitstream Vera Sans'; font-size: 20px">
                Status: 
                <b *ngIf="isCanceled(booking.bookingStatus.name)" style="color:red">{{booking.bookingStatus.name}}</b>
                <b *ngIf="!isCanceled(booking.bookingStatus.name)"style="color:green">{{booking.bookingStatus.name}}</b>
            </li>
            <li style="font-family: 'Bitstream Vera Sans'; font-size: 20px">
                Price: <b>{{booking.totalPrice}}</b>
            </li>
            <li style="font-family: 'Bitstream Vera Sans'; font-size: 20px">
              Dates: {{booking.checkIn | date:'dd-MM-yyyy' }} - {{booking.checkOut | date:'dd-MM-yyyy' }}
            </li>
            <br>
    
            <li style="font-size: 18px; color: #bb5500">Apartment</li>
            <li style="font-family: 'Bitstream Vera Sans'; font-size: 14px">Name:
              {{booking.apartmentDto.name}}</li>
            <li style="font-family: 'Bitstream Vera Sans'; font-size: 14px">Apartment type:
                {{booking.apartmentDto.apartmentType.name}}</li>
            <li style="font-family: 'Bitstream Vera Sans'; font-size: 14px">Number of guests:
               {{booking.apartmentDto.numberOfGuests}}</li>
            <li style="font-family: 'Bitstream Vera Sans'; font-size: 14px">Amenities:
              <ul>
              <li *ngFor= "let am of booking.apartmentDto.amenities">{{am.name}};</li></ul>
            </li>
            <br>

            <li style="font-size: 18px; color: #bb5500">Properties</li>
            <li style="font-family: 'Bitstream Vera Sans'; font-size: 14px">Rating:
              {{booking.apartmentDto.propertyDto.rating}}</li>
            <li style="font-family: 'Bitstream Vera Sans'; font-size: 14px">Address:
              {{booking.apartmentDto.propertyDto.address.addressLine}}, 
              {{booking.apartmentDto.propertyDto.address.city.name}},
              {{booking.apartmentDto.propertyDto.address.city.country.name}}</li>
            <li style="font-family: 'Bitstream Vera Sans'; font-size: 14px">Phone number:
              {{booking.apartmentDto.propertyDto.phoneNumber}}</li>
            <li style="font-family: 'Bitstream Vera Sans'; font-size: 14px">Email:
              {{booking.apartmentDto.propertyDto.contactEmail}}</li>
            <li style="font-family: 'Bitstream Vera Sans'; font-size: 14px">Facilities:
              <ul>
              <li *ngFor= "let facilitie of booking.apartmentDto.propertyDto.facilities">
                {{facilitie.name}};</li></ul>
            </li>
            <li style="font-family: 'Bitstream Vera Sans'; font-size: 14px">Description:
                {{booking.apartmentDto.propertyDto.description}}</li>
          </ul>

          <ul *ngIf= "booking?.reviewDto" class="menu-items" style="list-style: none; margin-left: -8%">
            <li style="font-size: 18px; color: #bb5500">Your review:</li>
            <li style="font-family: 'Bitstream Vera Sans'; font-size: 14px">Rating:
                {{booking.reviewDto.rating}}</li>
            <li style="font-family: 'Bitstream Vera Sans'; font-size: 14px">Message:
                {{booking.reviewDto.message}}</li>    
          </ul>        
        </div>

        <div >
            <button class="btn btn-primary btn-block" (click)="backToBookings()">Back to bookings</button>
            <div *ngIf="isBookingDateActual(booking?.checkIn, booking?.checkOut) && 
              !isCanceled(booking?.bookingStatus?.name)">
              <br>
              <button class="btn btn-secondary btn-block" (click)="cancelBooking()">Cancel Booking</button>
            </div>                      
        </div>
    </div>

    <div class="col-md-4 border-left card-body" id="photo-list" *ngIf='booking'>
      <ul class="media-list main-list">
        <li class="media">
          <img class="media-object"
               alt="No Photo" *ngIf="booking.apartmentDto.propertyDto.photos.length > 0"
               src={{booking.apartmentDto.propertyDto.photos[0].url}}>
          <img class="media-object"
               alt="No Photo" *ngIf="booking.apartmentDto.propertyDto.photos.length === 0"
               src="assets/image/Capture.PNG">
        </li>
        <li class="media">
          <img class="media-object"
               alt="No Photo" *ngIf="booking.apartmentDto.propertyDto.photos.length > 0"
               src={{booking.apartmentDto.propertyDto.photos[1].url}}>
          <img class="media-object"
               alt="No Photo" *ngIf="booking.apartmentDto.propertyDto.photos.length === 0"
               src="assets/image/Capture.PNG">
        </li>
        <li class="media">
          <img class="media-object"
               alt="No Photo" *ngIf="booking.apartmentDto.propertyDto.photos.length === 0"
               src="assets/image/Capture.PNG">
          <img class="media-object"
               alt="No Photo" *ngIf="booking.apartmentDto.propertyDto.photos.length > 0"
               src={{booking.apartmentDto.propertyDto.photos[2].url}}>
        </li>
      </ul>
      <app-photo-popup style="margin-left: 33%"
                       [booking]="booking">
      </app-photo-popup>
    </div>
  </div>
</div>
<app-spinner *ngIf="isLoading"></app-spinner>

