<ul *ngIf="booking" style="list-style: none">
    <div class="container">
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-9  card-body">
                  <div class="list-title">
                    <ul class="list-inline list-unstyled">
                      <li class="list-inline-item">
                            <h3><b>{{booking.apartmentDto.propertyDto.name}}, 
                              {{booking.apartmentDto.name}}</b></h3>     
                      </li>
                      <li class="list-inline-item text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></li>
                      <li class="list-inline-item text-success"><i class="fa fa-thumbs-up"></i></li>
                      <!-- <ul>
                        <li><p *ngFor="let facility of property.facilities">{{facility.name}}</p></li>
                      </ul> -->
                    </ul>
                  </div>
                  <div class="list-location">
                    <h4>Price: {{booking.totalPrice}} USD</h4> 
                    <li>
                    <h4>Status:
                      <b *ngIf="isCanceled(booking.bookingStatus.name)" style="color:red">{{booking.bookingStatus.name}}</b>
                      <b *ngIf="!isCanceled(booking.bookingStatus.name)"style="color:green">{{booking.bookingStatus.name}}</b>
                    </h4>
                    </li>
                    <h4>Dates: {{booking.checkIn | date:'dd-MM-yyyy' }} - {{booking.checkOut | date:'dd-MM-yyyy' }}</h4>          
                    <h4>Number of guests: {{booking.apartmentDto.numberOfGuests}}</h4>  
                  </div>
                  <div class="list-descrip">  
                    <br>
                    <h5>Apartment:</h5>
                    <small>Actual Price: {{booking.apartmentDto.price}} USD</small>                      
                    <br>
                    <small>Amenties: 
                    </small> 
                    <small *ngFor= "let am of booking.apartmentDto.amenities">{{am.name}}; 
                    </small>           
                    <br>
                    <small>Apartment type: {{booking.apartmentDto.apartmentType.name}}</small>                      
                    <br><br>
                    <h5>Hotel:</h5>
                    <small>Rating: {{booking.apartmentDto.propertyDto.rating}}</small>                      
                    <br>
                    <small>Address: {{booking.apartmentDto.propertyDto.address.addressLine}}, 
                        {{booking.apartmentDto.propertyDto.address.city.name}},
                        {{booking.apartmentDto.propertyDto.address.city.country.name}}
                    </small>                      
                    <br>
                    <small>Phone number: {{booking.apartmentDto.propertyDto.phoneNumber}}</small>                      
                    <br>
                    <small>Email: {{booking.apartmentDto.propertyDto.contactEmail}}</small>                      
                    <br>
                    <small>Facilities: </small>
                    <small *ngFor= "let facilitie of booking.apartmentDto.propertyDto.facilities">
                    {{facilitie.name}}; </small>                    
                    <br>
                    <small>Descroption: {{booking.apartmentDto.propertyDto.description}}</small>                      
                    <br>
                      <div *ngIf= "booking?.reviewDto">
                        <br>
                        <h5>Your review:</h5>
                        <small>Rating: {{booking.reviewDto.rating}}</small>
                        <br>
                        <small>Message: {{booking.reviewDto.message}}</small>
                        <br>
                     </div>
                     <br>
                      
                  </div>
                </div>  
                <div class="col-md-3 border-left card-body">
                  <img class="img-responsive" alt="No Photo" src={{booking.apartmentDto.propertyDto.photos[0].url}}>
                  <br><br>
                  <img class="img-responsive" alt="No Photo" src={{booking.apartmentDto.propertyDto.photos[1].url}}>
                  <br><br>
                  <img class="img-responsive" alt="No Photo" src={{booking.apartmentDto.propertyDto.photos[2].url}}>
                  <br><br>
                  <a href="#">More photos</a>
                  </div>
              </div>
              <hr>    
              <div >
                  <button class="btn btn-primary btn-block" (click)="backToBookings()">Back to bookings</button>
                  <div *ngIf="isCheckBookingDate(booking?.checkIn, booking?.checkOut) && 
                    !isCanceled(booking?.bookingStatus?.name)">
                    <br>
                    <button class="btn btn-secondary btn-block" (click)="cancelBooking()">Cancel Booking</button>
                  </div>                      
              </div>          
            </div>
          </div>
        </div>
      </div>
    </div>
</ul>

