<div class="container">
  <div class="alert alert-primary" role="alert">
    This property have {{existPhotos.length}} photos
  </div>

  <div class="row justify-content-start">
    <div class="col-3" *ngFor="let photo of existPhotos">
      <input type="checkbox" (change)="markPhoto(photo)">
      <img class="exist-photo" [src]="photo.url">
    </div>
  </div>
  <button *ngIf="existPhotos.length > 0" type="button" class="btn btn-danger" (click)="deletePhotos()">Delete</button>

  <div *ngIf="property">
    <form>
      <div *ngIf="seccessMessages.length" class="alert alert-success" role="alert"><p
        *ngFor="let secces of seccessMessages">{{secces}}</p></div>
      <div *ngIf="errorMessages.length" class="alert alert-danger" role="alert"><p *ngFor="let error of errorMessages">
        {{error}}</p></div>
      <div class="row">
        <div class="custom-file">
          <input type="file" multiple class="custom-file-input" id="validatedCustomFile" #input0
                 (change)="addPhotos($event)">
          <label class="custom-file-label" for="validatedCustomFile">{{infoMessage}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <button type="submit" class="btn btn-primary" (click)="uploadPhotos()">Upload</button>
          <button type="button" class="btn btn-outline-danger" (click)="clearInput()">Cancle</button>
        </div>
      </div>
    </form>
  </div>
</div>
