div.reviewDiv {
  height: auto;
  width: 750px;
  border: 1px solid silver;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
div#btns{
  margin-left: 40%;
}
button{
  width: 200px;
}
