<div class="reviewDiv">
  <form #crReview="ngForm" (ngSubmit)="createReview(crReview)">
    <label for="FormControlTextarea">Review : </label>
    <textarea class="form-control" id="FormControlTextarea" rows="4" placeholder="write your review..."
              [(ngModel)]="review.message" name="message"></textarea>
    <hr>
    <p>Rating :<input type="number" min="1" max="10" [(ngModel)]="review.rating" name="rating" required value="10"></p>
    <div class="form-row">
      <button (click)="goBack()" class="btn-danger">Cancel</button>
      <input type="submit" class="btn-info" value="Save Review">
    </div>
  </form>
</div>

