<div class="reviewDiv" *ngIf="!flag">
  <form #createReviewForm=ngForm (ngSubmit)="createReview(createReviewForm)" [ngClass]="{'was-validated' : !formValid}">
    <label for="FormControlTextarea">Review : </label>
    <textarea class="form-control z-depth-1" id="FormControlTextarea" rows="8" placeholder="write your review..."
              [(ngModel)]="review.message" name="message" required="required"></textarea>
    <hr>
    <p>Rating :<input type="number" min="1" max="10" [(ngModel)]="review.rating" name="rating"
                      required="required"></p>
    <ng-container *ngIf="errorMessage !== ''">
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <div class="form-row" id="btns">
      <button (click)="goBack()" class="btn-danger">Cancel</button>
      <button type="submit" class="btn-info">Save Review</button>
    </div>
  </form>
</div>


<div class="reviewDiv" *ngIf="flag">
  <label for="FormControlTextarea">Review : </label>
  <textarea class="form-control z-depth-1" readonly rows="8">{{booking.reviewDto.message}}</textarea>
  <hr>
  <p>Rating : {{booking.reviewDto.rating}}</p>
  <div class="form-row">
    <button (click)="goBack()" class="btn-danger">Back</button>
  </div>
</div>
<app-spinner *ngIf="isLoading"></app-spinner>
