*{
  box-sizing: border-box;
}
li {
    float: left;
    margin-right: 5px;
}
ul {
    list-style-type: none;
}
nav { 
    height: 30px;
}
app-spinner {
  display: contents;
}
app-footer {
  display: block;
  margin-top: 100%;
}
