<div class="container" *ngIf="property">
  <div class="row">
    <div class="col-md-8" style="margin-top: 4px" *ngIf="property">
      <ul class="pagination">
        <li class="page-item active">
          <p class="page-link" style="width: 100%; font-size: 13px">
            <a style="text-decoration: none; color: white;" routerLink="/property/{{property.id}}/apartments"
               [queryParams]="queryParams">
              Info about apartments and price</a></p>
        </li>

        <li class="page-item active" style="margin-left: 5%">
          <p class="page-link" style="width: 110%; font-size: 13px">
            <a style="text-decoration: none; color: white;" routerLink="/reviews-property/{{property.id}}">
              Show all review</a></p>
        </li>

        <li class="page-item active" style="margin-left: 5%">
          <p class="page-link" style="width: 110%; font-size: 13px"><a
            style="text-decoration: none; color: white;" routerLink="/property/{{property.id}}/apartments"
            [queryParams]="queryParams">Book now</a></p>
        </li>

      </ul>
    </div>


    <div class="col-md-8">
      <h2 style="width: 90%; margin-left: 3%;margin-top: -2%"><a href="#" style="text-decoration: none;"
                                                                 *ngIf="property"
                                                                 routerLink="/property/{{property.id}}/apartments">
        <b>{{property.name}}</b></a><span
        style="font-size: 14px; margin-left: 25%">Type: {{property.propertyType.name}}</span>
      </h2>
      <img src="assets/image/pin.png" style="width: 25px">
      <span *ngIf="property" style="font-size: 14px; font-style:italic">Location : {{property.address.addressLine}},
          zip : {{property.address.zip}}, {{property.address.city.name}}, {{property.address.city.country.name}}</span>

      <div class="featured-article">
        <img class="thumb" alt="No Photo" *ngIf="property.photos.length > 0"
             src={{property.photos[0].url}}>
        <div class="block-title" style="margin-top: 1%">
          <img src="assets/image/medal.png" style="width: 25px;
             display: inline; margin-left: 10px;">
          <span style="font-size: 15px; color: #ffa21c; font-style:oblique">One of our most popular lodging in
             {{property.address.city.name}}, {{property.address.city.country.name}}</span>
        </div>
      </div>
    </div>

    <div class="col-md-4 border-left card-body" id="photo-list" *ngIf='property'>
      <ul class="media-list main-list">
        <li class="media">

          <img class="media-object"
               alt="No Photo" *ngIf="property.photos.length > 0"
               src={{property.photos[0].url}}>
          <img class="media-object"
               alt="No Photo" *ngIf="property.photos.length === 0"
               src="assets/image/Capture.PNG">

        </li>
        <li class="media">
          <img class="media-object"
               alt="No Photo" *ngIf="property.photos.length > 0"
               src={{property.photos[1].url}}>
          <img class="media-object"
               alt="No Photo" *ngIf="property.photos.length === 0"
               src="assets/image/Capture.PNG">
        </li>

        <li class="media">
          <img class="media-object"
               alt="No Photo" *ngIf="property.photos.length === 0"
               src="assets/image/Capture.PNG">
          <img class="media-object"
               alt="No Photo" *ngIf="property.photos.length > 0"
               src={{property.photos[2].url}}>
        </li>
      </ul>
      <app-photo-popup style="margin-left: 33%"
                       [property]="property">
      </app-photo-popup>
    </div>

    <div class="col-md-5" style="margin-top: -11%">
      <ul class="menu-items" style="list-style: none">
        <li style="font-size: 18px; color: #bb5500">Information about property</li>
        <li style="font-family: 'Bitstream Vera Sans'; font-size: 14px"> Contact Email : {{property.contactEmail}}
        </li>
        <li style="font-family: 'Bitstream Vera Sans'; font-size: 14px">Phone Number : {{property.phoneNumber}}</li>
        <li style="font-family: 'Bitstream Vera Sans'; font-size: 14px">Property Type :
          {{property.propertyType.name}}
        </li>
        <li style="font-family: 'Bitstream Vera Sans'; font-size: 14px">Address Line :
          {{property.address.addressLine}}
        </li>
        <li style="font-family: 'Bitstream Vera Sans'; font-size: 14px">City : {{property.address.city.name}}</li>
        <li style="font-family: 'Bitstream Vera Sans'; font-size: 14px">Country :
          {{property.address.city.country.name}}
        </li>
      </ul>
    </div>

    <div class="col-md-2 border-left card-body" style="margin-top: -11%">
      <li style="font-size: 18px; color:#bb5500; list-style: none; margin-left: 1px">Facilities</li>
      <ul class="list-group" style="list-style: none" *ngFor="let facility of property.facilities">
        <li style="font-size: 14px">{{facility.name}}</li>
      </ul>
    </div>

    <div class="col-md-8 border-top card-body">
      <h6 style="font-family: 'Fira Code';color: #300027; font-size: 13px">
        {{property.description}}
        All rooms feature simple furnishings. They come with a TV with satellite channels, a hairdryer and all the
        necessary amenities for making coffee / tea. All rooms at this hotel also have their own bathroom with a range
        of toiletries.
        The spacious lounge area offers light snacks and a variety of drinks. Guests can also visit the modern
        cocktail bar. Every morning, the hotel serves a full breakfast.
        From Queensway Station, the Metro to Oxford Street shopping is a 5-minute walk, and Buckingham Palace is 20
        minutes away. Paddington Rail Station, which provides express services to Heathrow Airport, is a 15-minute
        walk from the hotel.
        Westminster is a great choice for travelers who are interested in shopping, visiting parks and history.
        This place especially likes couples - they rated it at 8.2 for a trip together
      </h6>
    </div>
  </div>
</div>

<app-spinner *ngIf="isLoading"></app-spinner>
