<div class="container">
  <fieldset>
    <h4>Create Apartment</h4>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="quantity" id="inputDefault">
    </div>

    <div class="form-group">
      <h5>Apartment Type</h5>
      <div class="custom-control custom-radio" *ngFor="let type of apartmentTypes">
        <input type="radio" id="customRadio{{type.id}}"
               name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio{{type.id}}">{{type.name}}</label>
      </div>
    </div>

    <div class="form-group">
      <h5>Amenities</h5>
      <div class="custom-control custom-checkbox" *ngFor="let am of amenities">
        <input type="checkbox" class="custom-control-input" id="customCheck{{am.id}}">
        <label class="custom-control-label" for="customCheck{{am.id}}">{{am.name}}</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="createApartments()">save</button>
  </fieldset>
</div>


