<div class="container">
  <fieldset>
    <h4>Create Apartment</h4>

    <div class="form-group">
      <label class="col-form-label">Apartment Name</label>
      <input type="text" class="form-control"[(ngModel)]="createdApartment.name">
    </div>

    <div class="form-group">
      <label class="col-form-label">Price</label>
      <input type="text" class="form-control" [(ngModel)]="createdApartment.price">
    </div>

    <div class="form-group">
      <label class="col-form-label">Apartment Type</label>
      <br>
      <select
              [(ngModel)]='selectedTypeId'
              [(ngModel)]='createdApartment.apartmentTypeId'>
        <option *ngFor="let type of apartmentTypes" [(value)]="type.id">
          {{type.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <h5>Amenities</h5>
      <div class="custom-control custom-checkbox"
           *ngFor="let am of amenities">
        <input type="checkbox" class="custom-control-input" id="customCheck{{am.id}}"
          (change)="workWithCheckboxes(am.id)">
        <label class="custom-control-label" for="customCheck{{am.id}}">{{am.name}}</label>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)="createApartments()">save</button>
  </fieldset>
</div>


