<div class="container">
  <div class="row">

    <div class="col-md-3">
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="card bg-warning">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <h3>Search</h3>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <form>
                    <div class="form-group">
                      <select class="form-control" id="conditionsselect1">
                        <option>Conditions</option>
                        <option>New</option>
                        <option>Used</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <select class="form-control" id="make1">
                        <option>Transmission</option>
                        <option>Automatic</option>
                        <option>Manaul</option>
                        <option>Semi-Automatic</option>
                      </select>
                    </div>
                    <hr>
                    <button type="btn" class="btn btn-primary">Find Now</button>
                    <button type="btn" class="btn btn-primary">Reset All</button>
                    <div class="pb-3"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">

      <app-search-form (mainDataChange)='onMainDataChange($event)'></app-search-form>
      <div *ngIf="errorMsg" class="alert alert-danger" role="alert">{{errorMsg}}</div>


      <!--  PROPERTY LIST  -->
      <app-list-property [propertyList]="propertyList">
        <!--  PROPERTY LIST  -->

        <!--    PAGINATION     -->
        <div class="row">
          <div class="col-md-12">
            <ul class="pagination">
              <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>

              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </div>
        </div>
        <!--    PAGINATION     -->
        <!--</div>-->
  <!--</div>-->
<!--</div>-->
