<div class="container">
  <div class="row">
    <!--SIDE BAR START-->
    <div class="col-md-3">
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="card bg-warning">
            <div class="card-body">
              <div class="row">

                <div class="col-md-12">
                  <h3>Advance Search</h3>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="formControlRange">Maximal Price: {{selectedPrice}}</label>
                    <input type="range" class="form-control-range" id="formControlRange" min="0" max="9999" step="1"
                           [(ngModel)]="selectedPrice" name="priceInput">
                  </div>

                  <div class="form-group">
                    <h5>Facilities</h5>
                    <div class="custom-control custom-checkbox"
                         *ngFor="let facility of facilities">
                      <input [checked]="selectedFasilityIds.includes(facility.id.toString())"
                             (click)="onFacilitySelect(facility.id)" type="checkbox" class="custom-control-input"
                             id="customCheck{{facility.id}}">
                      <label class="custom-control-label"
                             for="customCheck{{facility.id}}">{{facility.name}}</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <h5>Amenities</h5>
                    <div class="custom-control custom-checkbox"
                         *ngFor="let am of amenities">
                      <input [checked]="selectedAmenityIds.includes(am.id.toString())" (click)="onAmenitySelect(am.id)"
                             type="checkbox" class="custom-control-input" id="customCheck2{{am.id}}">
                      <label class="custom-control-label"
                             for="customCheck2{{am.id}}">{{am.name}}</label>
                    </div>
                  </div>
                  <hr>
                  <button type="submit" class="btn btn-primary" (click)="onApply()">Apply</button>
                  <div class="pb-3"></div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--SIDE BAR END-->
    <div class="col-md-9">

      <app-search-form (mainDataChange)='onMainDataChange($event)'></app-search-form>
      <div *ngIf="errorMsg" class="alert alert-danger" role="alert">{{errorMsg}}</div>


      <!--  PROPERTY LIST START  -->
      <app-list-property [propertyList]="propertyList"></app-list-property>
      <div *ngIf="totalElements == 0 ">
        <h3>In this city we not find such properties. </h3>
      </div>
      <!--  PROPERTY LIST END -->

      <!--    PAGINATION  START   -->
      <div class="row" *ngIf="totalElements !=0">
        <ul class="pagination" style="margin-left: 25%">
          <app-pagination
            [currentPage]="currentPage"
            [totalPages]="totalPages"
            [pagesToPagination]="pagesToPagination"
            (goFirst)="onFirst($event)"
            (goPrev)="onPrev()"
            (goNext)="onNext()"
            (goLast)="onLast($event)"
            (goPage)="goToPage($event)">
          </app-pagination>
        </ul>
      </div>
      <!--    PAGINATION   END  -->

      <div id="spinner-background" *ngIf="isLoad">
        <div id="booking-spinner">
          <app-spinner></app-spinner>
        </div>
      </div>

