<app-user-navigation></app-user-navigation>
<div class="container">
  <button *ngIf="property" routerLink="/property/{{property.id}}/apartment" type="button" class="btn btn-primary" id="addApartment">New Apartment</button>
  <div *ngIf="property" class="alert alert-info" role="alert">
    <strong>{{property.name}}</strong> have <strong>{{property.apartments.length}}</strong> apartments
  </div>
    <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">price</th>
      <th scope="col">guests</th>
      <th scope="col">type</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody *ngIf="property">
    <tr *ngFor="let ap of property.apartments">
      <th scope="row">{{ap.id}}</th>
      <td>{{ap.name}}</td>
      <td>{{ap.price}}</td>
      <td>{{ap.numberOfGuests}}</td>
      <td>{{ap.apartmentType.name}}</td>
      <td><button type="button" class="btn btn-primary">Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
