<app-user-navigation></app-user-navigation>
<div class="container">
  <button *ngIf="property" routerLink="/property/{{property.id}}/create-apartment" type="button" class="btn btn-primary" id="addApartment">New Apartment</button>
  <div *ngIf="property" class="alert alert-info" role="alert">
    <strong>{{property.name}}</strong> have <strong>{{property.apartments.length}}</strong> apartments
  </div>
    <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Type</th>
      <th scope="col">Number of guests</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody *ngIf="property">
      <tr *ngFor="let ap of property.apartments">
        <td>{{ap.name}}</td>
        <td>{{ap.price}}</td>
        <td>{{ap.apartmentType.name}}</td>
        <td>{{ap.numberOfGuests}}</td>
        <td><button type="button" class="btn btn-primary action"
                    routerLink="/property/{{property.id}}/edit-apartment/{{ap.id}}">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
