<div id="menucard">
  <div class="box">
    <h1 class="display-4">BookingLite</h1>
    <div class="card">
      <article class="card-body">
        <h4 class="card-title mb-4 mt-1">My Booking : </h4>
        <div *ngIf="apartment">
          <div class="beforeCreate" *ngIf="flag">
            <div class="form-group row">
              <label for="prName" class="col-sm-2 col-form-label">Property Name : </label>
              <div class="col-sm-5">
                <input type="text" readonly class="form-control-plaintext" id="prName" value="{{apartment.propertyDto.name}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="phone" class="col-sm-2 col-form-label">Contact phone number : </label>
              <div class="col-sm-5">
                <input type="text" class="form-control-plaintext" id="phone"
                       value="{{apartment.propertyDto.phoneNumber}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="price" class="col-sm-2 col-form-label">Total price : </label>
              <div class="col-sm-5">
                <input type="text" readonly class="form-control-plaintext" id="price"
                       value="{{calculate(booking.checkIn,booking.checkOut)}} $">
              </div>
            </div>
            <form #createBookingForm=ngForm (ngSubmit)="createBooking(createBookingForm)"
                  [ngClass]="{'was-validated' : !formValid}">
              <div class="form-group row">
                <label for="in" class="col-sm-2 col-form-label">Check In : </label>
                <div class="col-sm-5">
                  <input type="date" class="form-control" id="in" name="checkIn" min="{{today | date:'yyyy-MM-dd' }}"
                         [(ngModel)]="booking.checkIn" required="required">
                </div>
              </div>
              <div class="form-group row">
                <label for="out" class="col-sm-2 col-form-label">Check Out : </label>
                <div class="col-sm-5">
                  <input type="date" class="form-control" id="out" name="checkOut" min="{{today | date:'yyyy-MM-dd' }}"
                         [(ngModel)]="booking.checkOut" required="required">
                </div>
              </div>
              <div class="form-group row">
                <label for="numberOfGuests" class="col-sm-2 col-form-label">Number of Guests : </label>
                <div class="col-sm-5">
                  <input type="number" min="1" max="100" class="form-control-plaintext" id="numberOfGuests"
                         name="numberOfGuests"
                         [(ngModel)]="booking.numberOfGuests" required="required">
                </div>
              </div>
              <ng-container *ngIf="errorMessage !== ''">
                <div class="alert alert-danger">
                  {{errorMessage}}
                </div>
              </ng-container>
              <div class="form-group row">
                <button type="submit" class="btn info">Submit booking</button>
              </div>
            </form>
          </div>


          <div class="afterCreate" *ngIf="!flag">
            <div class="form-group row">
              <label for="AprName" class="col-sm-2 col-form-label">Property Name : </label>
              <div class="col-sm-5">
                <input type="text" readonly class="form-control-plaintext" id="AprName" value="{{apartment.propertyDto.name}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="Aphone" class="col-sm-2 col-form-label">Contact phone number : </label>
              <div class="col-sm-5">
                <input type="text" readonly class="form-control-plaintext" id="Aphone"
                       value="{{apartment.propertyDto.phoneNumber}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="Aprice" class="col-sm-2 col-form-label">Total price : </label>
              <div class="col-sm-5">
                <input type="text" readonly class="form-control-plaintext" id="Aprice"
                       value="{{calculate(booking.checkIn,booking.checkOut)}} $">
              </div>
            </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Check In : </label>
                <div class="col-sm-5">
                  {{booking.checkIn | date:'yyyy-MM-dd' }}
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Check Out : </label>
                <div class="col-sm-5">
                  {{booking.checkOut | date:'yyyy-MM-dd' }}
                </div>
              </div>
              <div class="form-group row">
                <label for="numberOfGuests" class="col-sm-2 col-form-label">Number of Guests : </label>
                <div class="col-sm-5">
                  {{booking.numberOfGuests}}
                </div>
              </div>
              <div class="form-group row">
                <button type="button" routerLink="/bookings/allBookings"
                        class="btn btn-outline-primary">My Bookings</button>
              </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
