<div id="menucard">
  <div class="box">
    <div class="card">
      <article class="card-body">
        <h4 class="card-title mb-4 mt-1">My Booking : </h4>
        <div *ngIf="apartment">
          <div class="beforeCreate" *ngIf="flag">
            <div class="form-group row">
              <div class="form-group">
                <label>Property Name : </label>
                <div class="col-sm-5">
                  <textarea class="form-control" readonly>{{apartment.propertyDto.name}}</textarea>
                </div>
              </div>
              <div class="form-group">
                <label>Contact phone number : </label>
                <div class="col-sm-5">
                  <textarea class="form-control" readonly>{{apartment.propertyDto.phoneNumber}}</textarea>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="form-group">
                <label>Total days : </label>
                <div class="col-sm-5">
                  <textarea class="form-control" readonly>{{calculateTotalDays(booking.checkIn,booking.checkOut)}} day(s)</textarea>
                </div>
              </div>
              <div class="form-group">
                <label>Total price : </label>
                <div class="col-sm-5">
                  <div *ngIf="calculatePriceByDates(booking.checkIn,booking.checkOut) == 0">
                    <textarea class="form-control" readonly>{{calculatePriceByDates(booking.checkIn,booking.checkOut)}} $</textarea>
                  </div>
                  <div *ngIf="calculatePriceByDates(booking.checkIn,booking.checkOut) > 0">
                    <textarea class="form-control" readonly>{{calculatePriceByDates(booking.checkIn,booking.checkOut) |  number: '2.'}} $</textarea>
                  </div>
                </div>
              </div>
            </div>
            <form #createBookingForm=ngForm (ngSubmit)="createBooking(createBookingForm)"
                  [ngClass]="{'was-validated' : !formValid}">
              <div class="form-group row">
                <div class="form-group">
                  <label>Check In : </label>
                  <div class="col-sm-5">
                    <input type="date" class="form-control" id="in" name="checkIn" min="{{today | date:'yyyy-MM-dd' }}"
                           [(ngModel)]="booking.checkIn" required="required">
                  </div>
                </div>
                <div class="form-group">
                  <label>Check Out : </label>
                  <div class="col-sm-5">
                    <input type="date" class="form-control" id="out" name="checkOut"
                           min="{{booking.checkIn | date:'yyyy-MM-dd'}}"
                           [(ngModel)]="booking.checkOut" required="required">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Number of guests (between 1 and 8):</label>
                <input name="numberOfGuests" class="form-control" #name="ngModel" [minlength]="1" [maxlength]="1"
                       [(ngModel)]="booking.numberOfGuests"
                       type="text" required pattern="[1-8]">
                <div class="invalid-feedback">Number of guests must be a number type between 1 and 8 !!!</div>
              </div>
              <ng-container *ngIf="errorMessage !== ''">
                <div class="alert alert-danger">
                  {{errorMessage}}
                </div>
              </ng-container>
              <hr>
              <div class="form-group row">
                <button type="submit" class="btn info">Submit booking</button>
              </div>
            </form>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
