
.display-4 {
  text-align: center;
}

.card {
  width: 850px;
  height: 680px;
}

.form-control {
  width: 350px;
  height: 50px;
  margin-left: 20px;
}



.card {
  margin-top: 10px;
}
div#menucard{
  padding: 30px;
  margin-top: 10px;
  height: auto;
}
button{
  margin-left: 73%;
}
label.createBooking{
  margin-left: 32px;
}
